
@{
    ViewBag.Title = "Index";
}

<form action="/john/add" method="get">
    First and Middle Name: <input type="text" name="firstname" /><br />
    Last Name: <input type="text" name="lastname" /><br />
    Residence Hall: <input type="text" name="res" /><br />
    Enrollment Date <input type="date" name="enrollmentdate" /><br />
    <button type="submit">Save!</button>
</form>

